<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770271142098-6riugr6bql1itcqm4epl8tdg6c9rqkbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770271142098-6riugr6bql1itcqm4epl8tdg6c9rqkbe</string>
	<key>API_KEY</key>
	<string>AIzaSyDPIU_zZ_85pKlAMnKE4GpMkvYlV2Yg6nI</string>
	<key>GCM_SENDER_ID</key>
	<string>770271142098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codexveer.googleMaps</string>
	<key>PROJECT_ID</key>
	<string>maps-codexveer</string>
	<key>STORAGE_BUCKET</key>
	<string>maps-codexveer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770271142098:ios:55020f56aa47e1d0300d0b</string>
</dict>
</plist>